ul {
    color: blue
}
.text1 {
    color: red
}
.Green {
    color: green
}
.Pink{
    color: pink
}
.Grey{
    Color: grey
}
.Center{
    text-align: center;
    align-items: center;
}